<!-- templates/cars.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Daftar Mobil</title>
</head>
<body>
    <h1>Daftar Mobil</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Tahun</th>
            <th>Tersedia</th>
            <th>Merk</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ 'Ya' if car.available else 'Tidak' }}</td>
            <td>{{ car.brand.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
